<nav class="navbarkirbo">
  <ul class="navbar-nav">   
    <li class="nav-item"><button class="nav-link" (click)="inicio()">Al inicio</button></li>
    <li class="nav-item"><button class="nav-link" (click)="Recetas()">Recetas</button></li>
  </ul>
</nav>
  <div><section><h1 id="texto">ESPAGUETTI A LA CARBONARA</h1></section></div>
  <section>
    <h1 id="texto">Ingredientes:</h1>
    <ul>
        <li *ngFor="let Ingredientes of Ingredientes"><a class="navbarkirbohappy"><li id="texto">{{ Ingredientes }}</a></li>
      </ul>
</section><br>
<section>
    <h1 id="texto">Procedimiento:</h1>
    <ul>
        <li *ngFor="let Procedimiento of Procedimiento"><a class="navbarkirbohappy" id="texto"s><li>{{ Procedimiento }}</a></li>
      </ul>
</section>
