
<nav class="navbarinicio">
  <ul class="navbar-nav">   
    <li class="nav-item"><button class="nav-link" (click)="Recetas()">Recetas</button></li>
  </ul>
</nav>
<div class=""></div><p> La historia de la gastronomía está intrínsecamente relacionada con la historia de la humanidad, ya que el ser humano,<br> 
  como ente biológico, necesita de la alimentación para su subsistencia. Sin embargo, al estar dotado de conciencia y sensaciones, <br>
  la alimentación es más que un factor fisiológico, es fuente de placer, un goce sensorial e incluso estético. Conforme ha avanzado en <br>
  su civilización, el ser humano siempre se ha preocupado de hacer elaboraciones que no solo calmasen su apetito, sino que fuesen <br>
  agradables a la vista, que tuviesen buen olor y buena presentación, por lo que ha desarrollado una puesta en escena con diversos <br>
  utensilios, como vajilla, cubiertos, cristalería, servilletas, manteles, velas, flores o centros de mesa. A la vez, la alimentación <br>
  se ha convertido en un ritual social, en el que personas con diversas relaciones afectivas o sociales se reúnen para la celebración<br>
   de determinados eventos, como aniversarios, bautizos, comuniones, bodas o incluso, en determinadas culturas, funerales, así como <br>
   reuniones de negocios o laborales, fiestas colectivas por barrios o municipios, y otros. En ese sentido, diversos lugares dedicados <br>
   a la expedición de alimentos o bebidas, como bares, restaurantes, cafeterías, tabernas, posadas, mesones, pubs y otros establecimientos<br>
    similares, han servido como centros de socialización para numerosas comunidades.</p>
 <img src=".\assets\cocina.jpeg" class = "centrado" >
 

 